{{define "parameters" -}}
{{with .File}}
{{$gopkg := .Package.GoPackage}}

{{range .Services -}}

  {{/* Parameter constructors */}}

  {{range .Methods -}}
    func {{.NewRequest}}() proto.Message { return &{{goType .Request $gopkg}}{}  }
    func {{.NewResponse}}() proto.Message { return &{{goType .Response $gopkg}}{} }
  {{end -}}

  {{/* Empty parameter types */}}

  {{with .Methods}}
    var (
    {{range . -}}
      {{.EmptyRequest}}  = &{{goType .Request $gopkg}}{}
      {{.EmptyResponse}} = &{{goType .Response $gopkg}}{}
    {{end -}}
    )
  {{end -}}
{{end -}}

{{end -}}{{end -}}
